i.icon {
	font-size: 1.5em;
}

.container.main {
	margin-top: 7.0em;
}

#delete {
	display: inline;
}
#date {
	float: right;
	color: rgba(255,255,255, 0.35)
;
}

.ui.huge.header {
	font-size: 3em;
}

#parentButton {
	bottom: 0;
    position: absolute;
    padding: 20;
}

#myButton {
	position: absolute;
    float: right;
    bottom: 0;
}